.consultation {
  min-height: 680px;
  padding: 100px 0 92px;
  background: url('/src/img/Consult_bg.png') center (center/cover) no-repeat;
  &__description {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
